<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	
	
	
	<groups>
            <run>
                <include name="ab" />
            </run>
        </groups>
	
    <classes>
      <class name="Groupingtest_testng.Groupingtest_testng_b"/>
      <class name="Groupingtest_testng.Groupingtest_testng_a"/>
      <class name="Groupingtest_testng.Groupingtest_testng_c"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
